.app {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333;
}

.container {
  margin: 5em;
}

.action_btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3em;
}

.boolean_btn {
  margin: 3em;
}

.error_text {
  color: red;
}

.success_text {
  color: green;
}

.submission_modal {
  text-align: center;
  margin: 3em;
}
